<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Admission</h3>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token%}
        <table>

            <tr>
                <td><input type="text" name="name" placeholder="enter name" required></td>
            </tr>
            <tr>
                <td><input type="password" name="password" 		placeholder="enter password" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
