{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>view student details</h3>
    <table border="13">
        <thead>
            <tr>
                <td>id</td>
                <td>image</td>
                <td>name</td>
                <td>fathername</td>
                <td>gender</td>
                <td>dob</td>
                <td>email</td>
                <td>mark</td>
                <td>fees</td>
                <td>phonenumber</td>
                <td>address</td>
                <td>delete</td>
            {%for mov in getdetails%}
            <tr>
                <td>{{mov.id}}</td>
                <td><img src="{{mov.image.url }}" height=100px width="100px"></td>
                <td>{{mov.name}}</td>
                <td>{{mov.fathername}}</td>
                <td>{{mov.gender}}</td>
                <td>{{mov.dob}}</td>
                <td>{{mov.email}}</td>
                <td>{{mov.mark}}</td>
                <td>{{mov.fees}}</td>
                <td>{{mov.phonenumber}}</td>
                <td>{{mov.address}}</td>
                <td><a href="{%url 'delete' pk=mov.pk %}">delete</a></td>
                
        </tr>
            {%endfor%}
        </tr>
        </thead>

    </table>
    
</body>
<div>
    <ul>
    <li><a href="{% url 'home' %}">go back</a></li>
    </ul>
    </div>
</html>